<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Co-Founder and Teacher</h1>
            <span><address>Tesla Cool Lab</address><time>2015 to Present</time></span>
        </header>
        <p>Entrepreneurship, planning, working with kids.</p>
        <p>Scratch, Lego Education Mindstorms and WeDo, Arduino, Raspberri Pi, Kodu, Python.</p>
    </article>
    <article>
        <header>
            <h1>TU Go Apps Group Manager</h1>
            <span><address>Telefonica R&amp;D</address><time>2015-2017</time></span>
        </header>
        <p>Cross-site group management. Planning. Mentoring. Agile practicioner.</p>
        <p>VoIP, SIP, Android, iOS.</p>
    </article>
    <article>
        <header>
            <h1>TU Go Technological Expert</h1>
            <span><address>Telefonica R&amp;D</address><time>2012-2015</time></span>
        </header>
        <p>C#, XAML, Windows Phone, Reactive Programming.</p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Avalon Biometrics</address><time>2009-2012</time></span>
        </header>
        <p>Biometrics, Document Security, Border Control.</p>
        <p>C#, WPF</p>
    </article>
    <article>
        <header>
            <h1>Founder &amp; CTO</h1>
            <span><address>Atalum Wireless</address><time>2003-2008</time></span>
        </header>
        <p>Entrepreneurship, ZigBee Standard Contributor.</p>
        <p>Microcontrollers, C, C#.</p>
    </article>
</section>
