<section>
    <h1>Education</h1>
    <article>
        <header>
            <h1>Máster universitario en formación del profesorado de educación secundaria obligatoria y bachillerato,
                formación profesional, enseñanzas de idiomas y enseñanzas deportivas</h1>
            <span>
                <address>Universidad Europea de Madrid, Spain</address><time>2020 to 2021</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>MS in Electrical Engineering and Computer Science</h1>
            <span>
                <address>Universidad Politécnica de Madrid, Spain</address><time>1994 to 2003</time>
            </span>
        </header>
        <p>Thesis: Desarrollo de protocolos para una red difusiva inalámbrica de bajo coste en espectro libre de
            frecuencias.</p>
    </article>
</section>