<section>
  <h2>Experience</h2>
  <article>
    <header>
      <h3>Vocational training instructor</h3>
      <span
        ><address>GMQ Tech</address>
        <time>2021/22</time></span
      >
    </header>
    <p>
      Profesor de Ciclos formativos de grado superior de Desarrollo de
      aplicaciones multiplataforma y Administración de sistemas informáticos en
      red.
    </p>
  </article>
  <article>
    <header>
      <h3>High school teacher</h3>
      <span
        ><address>Fundación Educativa José Gras</address>
        <time>2021/22</time></span
      >
    </header>
    <p>
      Profesor de Tecnologías de la informacion y la comunicación en 4º de ESO y
      1º y 2º de bachillerato.
    </p>
  </article>
  <article>
    <header>
      <h3>Co-Founder and Teacher</h3>
      <span
        ><address>Tesla Cool Lab</address>
        <time>2015 to Present</time></span
      >
    </header>
    <p>Entrepreneurship, planning, working with kids.</p>
    <p>
      Scratch, Lego Education Mindstorms and WeDo, Arduino, Raspberri Pi, Kodu,
      Python.
    </p>
  </article>
  <article>
    <header>
      <h3>TU Go Apps Group Manager</h3>
      <span
        ><address>Telefonica R&amp;D</address>
        <time>2015-2017</time></span
      >
    </header>
    <p>Cross-site group management. Planning. Mentoring. Agile practicioner.</p>
    <p>VoIP, SIP, Android, iOS.</p>
  </article>
  <article>
    <header>
      <h3>TU Go Technological Expert</h3>
      <span
        ><address>Telefonica R&amp;D</address>
        <time>2012-2015</time></span
      >
    </header>
    <p>C#, XAML, Windows Phone, Reactive Programming.</p>
  </article>
  <article>
    <header>
      <h3>Senior Software Engineer</h3>
      <span
        ><address>Avalon Biometrics</address>
        <time>2009-2012</time></span
      >
    </header>
    <p>Biometrics, Document Security, Border Control.</p>
    <p>C#, WPF</p>
  </article>
  <article>
    <header>
      <h3>Co-Founder &amp; CTO</h3>
      <span
        ><address>Atalum Wireless</address>
        <time>2003-2008</time></span
      >
    </header>
    <p>Entrepreneurship, ZigBee Standard Contributor.</p>
    <p>Microcontrollers, C, C#.</p>
  </article>
  <article>
    <header>
      <h3>R&amp;D Intern</h3>
      <span
        ><address>Laboratorio Sistemas Integrados. ETSIT. UPM.</address>
        <time>2001-2003</time></span
      >
    </header>
    <p>Microcontrollers, Embedded Systems, C.</p>
  </article>
</section>
