<section>
  <h2>Papers</h2>
  <article>
    <header>
      <h3>
        VESTA: A High Flexibility and Low Granularity Domotic Platform Based on
        Distributed Processing over a Dynamic Interconnection Wireless Network
      </h3>
      <span
        ><address>Sveti Stefan, Serbia and Montenegro</address>
        <time>2003-10-04</time></span
      >
    </header>
    <p>VIP Scientific Forum of the International IPSI-2003 Conference</p>
  </article>
  <article>
    <header>
      <h3>Nuevas Soluciones Tecnológicas para el Entorno Domótico</h3>
      <span
        ><address>Madrid, Spain</address>
        <time>2003-11-18</time></span
      >
    </header>
    <p>XIII Jornadas Telecom I+D. ISBN: 84-89315-28-0</p>
  </article>
</section>
