<section>
    <h1>Talks</h1>
    <article>
        <header>
            <h1>Real World Raspberry Pi: own your phone!</h1>
            <span><address>Madrid, Spain</address><time>2018-02-24</time></span>
        </header>
        <p>
            TID-X 2018 Conference
        </p>
    </article>
    <article>
        <header>
            <h1>A platform for game developers in Azure</h1>
            <span><address>Madrid, Spain</address><time>2016-06-06</time></span>
        </header>
        <p>
            Telefonica R&amp;D TEFCON 2016, with <a href="https://github.com/arturogutierrez">@arturogutierrez</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Reactivate your Android</h1>
            <span><address>Madrid, Spain</address><time>2015-05-19</time></span>
        </header>
        <p>
            Telefonica R&amp;D TEFCON 2015, with <a href="https://github.com/ffgiraldez">@ffgiraldez</a>
        </p>
    </article>
    <article>
        <header>
            <h1>ZigBee is in the building</h1>
            <span><address>Chicago</address><time>June 2006</time></span>
        </header>
        <p>
            ZigBee Alliance Second Annual Developers Conference, 2006.
        </p>
    </article>
</section>