<section>
    <h1>Formación</h1>
    <article>
        <header>
            <h1>Máster universitario en formación del profesorado de educación secundaria obligatoria y bachillerato,
                formación profesional, enseñanzas de idiomas y enseñanzas deportivas</h1>
            <span>
                <address>Universidad Europea de Madrid, España</address><time>actualmente cursando</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Ingeniería de Telecomunicación</h1>
            <span><address>Universidad Politécnica de Madrid, España</address><time>1994 a 2003</time></span>
        </header>
        <p>PFC: Desarrollo de protocolos para una red difusiva inalámbrica de bajo coste en espectro libre de frecuencias.</p>
    </article>
</section>