<section>
  <h2>Formación</h2>
  <article>
    <header>
      <h3>
        Máster universitario en formación del profesorado de educación
        secundaria obligatoria y bachillerato, formación profesional, enseñanzas
        de idiomas y enseñanzas deportivas
      </h3>
      <span>
        <address>Universidad Europea de Madrid, España</address>
        <time>09/2020 a 06/2021</time>
      </span>
    </header>
  </article>
  <article>
    <header>
      <h3>Ingeniería de Telecomunicación</h3>
      <span>
        <address>Universidad Politécnica de Madrid, España</address>
        <time>1994 a 2003</time>
      </span>
    </header>
    <p>
      PFC: Desarrollo de protocolos para una red difusiva inalámbrica de bajo
      coste en espectro libre de frecuencias.
    </p>
  </article>
</section>
