<section class="thirteen columns">
    <h1>Experiencia</h1>
    <article>
        <header>
            <h1>Co-Fundador y profesor</h1>
            <span><address>Tesla Cool Lab</address><time>desde 2015</time></span>
        </header>
        <p>Emprendeduría. Planificación. Trabajo con niños y jóvenes.</p>
        <p>Scratch, Lego Education Mindstorms and WeDo, Arduino, Raspberri Pi, Kodu, Python.</p>
    </article>
    <article>
        <header>
            <h1>Jefe del grupo de Apps de TU Go</h1>
            <span><address>Telefonica I+D</address><time>2015-2017</time></span>
        </header>
        <p>Gestión de grupos multi-sede. Planificación. Mentoría. Prácticas  Ágiles.</p>
        <p>VoIP. SIP. Android. iOS.</p>
    </article>
    <article>
        <header>
            <h1>Experto Tecnológico en TU Go</h1>
            <span><address>Telefonica I+D</address><time>2012-2015</time></span>
        </header>
        <p>C#. XAML. Windows Phone. Programación reactiva.</p>
    </article>
    <article>
        <header>
            <h1>Ingeniero Senior de Software</h1>
            <span><address>Avalon Biometrics</address><time>2009-2012</time></span>
        </header>
        <p>Biometría. Seguridad documental. Control de fronteras.</p>
        <p>C#, WPF</p>
    </article>
    <article>
        <header>
            <h1>Co-Fundador y CTO</h1>
            <span><address>Atalum Wireless</address><time>2003-2008</time></span>
        </header>
        <p>Emprendeduría. Contribuidor al estándar ZigBee.</p>
        <p>Microcontroladores. C. C#.</p>
    </article>
    <article>
        <header>
            <h1>Becario de investigación</h1>
            <span><address>Laboratorio Sistemas Integrados. ETSIT. UPM.</address><time>2001-2003</time></span>
        </header>
        <p>Microcontroladores. Sistemas empotrados. C.</p>
    </article>
</section>
