<section class="thirteen columns">
    <h1>Papers</h1>
    <article>
        <header>
            <h1>VESTA: A High Flexibility and Low Granularity Domotic Platform Based on Distributed Processing over a Dynamic Interconnection Wireless Network</h1>
            <span><address>Sveti Stefan, Serbia y Montenegro</address><time>04-10-2003</time></span>
        </header>
        <p>
            VIP Scientific Forum of the International IPSI-2003 Conference
        </p>
    </article>
    <article>
        <header>
            <h1>Nuevas Soluciones Tecnológicas para el Entorno Domótico</h1>
            <span><address>Madrid, España</address><time>18-11-2003</time></span>
        </header>
        <p>
            XIII Jornadas Telecom I+D. ISBN: 84-89315-28-0
        </p>
    </article>
</section>
