<section>
    <h1>Charlas</h1>
    <article>
        <header>
            <h1>Real World Raspberry Pi: own your phone!</h1>
            <span><address>Madrid, España</address><time>24-2-2018</time></span>
        </header>
        <p>
            Conferencia TID-X 2018
        </p>
    </article>
    <article>
        <header>
            <h1>A platform for game developers in Azure</h1>
            <span><address>Madrid, España</address><time>06-06-2016</time></span>
        </header>
        <p>
            Telefonica I+D TEFCON 2016, junto a <a href="https://github.com/arturogutierrez">@arturogutierrez</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Reactivate your Android</h1>
            <span><address>Madrid, España</address><time>19-05-2015</time></span>
        </header>
        <p>
            Telefonica I+D TEFCON 2015, junto a <a href="https://github.com/ffgiraldez">@ffgiraldez</a>
        </p>
    </article>
    <article>
        <header>
            <h1>ZigBee is in the building</h1>
            <span><address>Chicago</address><time>junio de 2006</time></span>
        </header>
        <p>
            Segunda conferencia anual de desarrolladores de la Alianza ZigBee, 2006.
        </p>
    </article>
</section>